body {
  font-family: "Poppins", sans-serif;
  min-height: 2000px;
}
.hero {
  height: 400px;
  width: 100%;
  /* min-height: 250px; */
  /* height: 50vh; */
  /* height: 50vh; */
  background-position: center;
  background-attachment: scroll;
  background-image: url("./img/IMG-20230808-WA0002-01.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  color: white;
  font-weight: 700;
  position: relative;
}
.hero h1 {
  margin: auto;
  font-weight: bolder;
  z-index: 2;
  line-height: 2;
  box-shadow: black;
}
.overlay {
  width: 100%;
  height: 100%;
  /* background: black;
  opacity: 0.7; */
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
/* p {
  font-size: 30px;
} */
/* .utama::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 250px;
  height: 50vh;
  position: absolute;
  inset: 0;
} */
/* .hero .utama { */
/* min-height: 300px; */
/* height: 70vh;
  background-position: center;
  background-attachment: scroll;
  /* background-image: url("./img/IMG-20230808-WA0002-01.jpeg"); */
/* background-size: cover;
background-repeat: no-repeat;
display: flex; */

/* } */
/* .utama { */
/* position: absolute; */
/* left: 0; */
/* top: 0; */
/* z-index: 0; */
/* width: 100%;
  height: 100vh; */
/* position: relative; */
/* margin: auto; */

/* transform: unset; */
/* } */
.judul {
  /* min-height: 250px;
  height: 50vh; */
  height: 400px;
  width: 100%;
  color: white;
  display: block;
  box-shadow: 0, 0, 0 black;
  /* align-items: center;
  justify-content: center;
  margin: auto; */
}
/* .judul h1 {
  font-size: 20px;
  margin-top: 40px;
} */
.pernah .pernah_col h2 {
  color: rgb(16, 16, 125);
}
.pernah_col .pernah_ul {
  color: rgb(34, 34, 248);
}
.pernah_kotak img {
  width: 100%;
  height: 400px;

  /* background: #000; */
}
/* .pernah_img {
  /* background-color: aqua; */

/* display: flex; */
/* align-self: self-end; */
/* }  */
.pernah_kotak {
  width: 100%;
  height: 400px;
  /* background-color: burlywood; */
  border-radius: 50px;
  background-color: burlywood;
  /* display: flex; */
  overflow: hidden;
  box-shadow: 30px 30px 15px rgb(207, 203, 203);

  /* background-size: cover; */
}

@media (min-width: 230px) and (max-width: 767.98px) {
  .judul {
    font-size: 25px;
    margin-top: 65px;
  }
  .hero {
    min-height: 250px;
    height: 30vh;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero {
    min-height: 250px;
    height: 40vh;
  }
  .judul {
    font-size: 40px;
    margin-top: 65px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero {
    min-height: 250px;
    height: 50vh;
  }
  .judul {
    font-size: 60px;
    margin-top: 93px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .judul {
    font-size: 60px;
    margin-top: 96px;
  }
}
@media (min-width: 1400px) {
  .judul {
    font-size: 70px;
    margin-top: 100px;
  }
}
